/*stylesheet*/

body {
margin: 20px;
background: black;
color: white;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
}

h1, h2 {
	font-weight: 200;
}

div {
	width: 600px;
	height: 600px;
	background: green;
	margin-bottom: 30px;
	padding: 30px;
}
